PORT=5000
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.mq9tpzh.mongodb.net/chat_app?appName=Cluster0
JWT_SECRET=change_this_to_a_64_char_random_hex_string_generated_with_crypto_randomBytes
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173
